In [1]:
# 6-10 위에서 아래로

# N을 입력받기
n = int(input())

# N개의 정수를 입력받아 리스트에 저장
array = []
for i in range(n):
  array.append(int(input()))

# 파이썬 기본 정렬 라이브러리를 이용하여 정렬 수행
array = sorted(array, reverse=True)

# 정렬이 수행된 결과를 출력
for i in array:
  print(i, end=' ')

3
10
11
100
100 11 10

In [2]:
# 6-11 성적이 낮은 순서대로 학생 출력하기

# N을 입력받기
n = int(input())

# N개의 정수를 입력받아 리스트에 저장
array = []
for i in range(n):
  input_data = input().split()
  # 이름은 문자열로, 점수는 정수로 변환하여 저장
  array.append((input_data[0], int(input_data[1])))

# 키를 이용하여 점수를 기준으로 정렬
array = sorted(array, key=lambda student: student[1])

# 정렬이 수행된 결과를 출력
for student in array:
  print(student[0], end=' ')

2
홍길동 95
이순신 77
이순신 홍길동

In [3]:
# 6-12 두 배열의 원소 교체

# n과 k 입력받기
n, k = map(int, input().split())

# 배열 A,B의 원소 입력받기
a = list(map(int, input().split()))
b = list(map(int, input().split()))

# a배열은 오름차순
a.sort()
# b배열은 내림차순
b.sort(reverse=True)

# 최대 k번 바꿀 수 있으니까 k번동안 반복
for i in range(k):
  # a의 원소가 b의 원소보다 작은경우
  if a[i] < b[i]:
    # 두 원소 교체
    a[i], b[i] = b[i], a[i]
  else: # a 원소가 b원소보다 크거나 같으면 더이상 바꿀 필요가 없으므로 반복문 탈출
    break

print(sum(a))

5 3
1 2 5 4 3
5 5 6 6 5
26