출처
- https://dataq.goorm.io/exam/116674/%EC%B2%B4%ED%97%98%ED%95%98%EA%B8%B0/quiz/1

# 작업형 1
mtcars 데이터셋의 qsec 컬럼을 최소최대척도로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 구하시오

In [1]:
# 데이터 파일 읽기 예제
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# 데이터 불러오기
df = pd.read_csv('./mtcars.csv', index_col=0)

# 최소최대 척도 변환
scaler = MinMaxScaler()
df[['qsec']] = scaler.fit_transform(df[['qsec']])

# 답안
print(len(df.loc[df.qsec > 0.5]))

9

# 작업형 2
학습용 데이터를 이용하여 성별예측 모형을 만든 후, 이를 평가용 데이터에 적용하여 얻은 2482명 고객의 성별 예측값(남자일 확률)을 다음과 같은 형식의 CSV파일로 생성하시오.

In [2]:
# 데이터 파일 읽기 예제
import pandas as pd
x_test = pd.read_csv("./X_test.csv", encoding="cp949")
x_train = pd.read_csv("./X_train.csv", encoding="cp949")
y_train = pd.read_csv("./y_train.csv", encoding="cp949")

In [3]:
# 데이터 탐색
print(x_test.head())
print(x_train.head())
print(y_train.head())
print(x_test.describe)
print(x_train.describe)

   cust_id       총구매액     최대구매액        환불금액 주구매상품 주구매지점  내점일수    내점당구매건수  \
0     3500   70900400  22000000   4050000.0    골프  부산본점    13   1.461538
1     3501  310533100  38558000  48034700.0   농산물   잠실점    90   2.433333
2     3502  305264140  14825000  30521000.0  가공식품  본  점   101  14.623762
3     3503    7594080   5225000         NaN  주방용품  부산본점     5   2.000000
4     3504    1795790   1411200         NaN   수산품  청량리점     3   2.666667

     주말방문비율  구매주기
0  0.789474    26
1  0.369863     3
2  0.083277     3
3  0.000000    47
4  0.125000     8
   cust_id      총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수  \
0        0  68282840  11264000  6860000.0      기타   강남점    19  3.894737
1        1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000
2        2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000
3        3  16077620   4935000        NaN      기타   광주점    18  2.444444
4        4  29050000  24000000        NaN      보석  본  점     2  1.500000

     주말방문비율  구매주기
0  0.527027    17
1  0.000000     1
2  0.000000     1
3  0.318182    16
4  0.000000    85
   cust_id  gender
0        0       0
1        1       0
2        2       1
3        3       1
4        4       0
<bound method NDFrame.describe of       cust_id       총구매액     최대구매액        환불금액   주구매상품 주구매지점  내점일수    내점당구매건수  \
0        3500   70900400  22000000   4050000.0      골프  부산본점    13   1.461538
1        3501  310533100  38558000  48034700.0     농산물   잠실점    90   2.433333
2        3502  305264140  14825000  30521000.0    가공식품  본  점   101  14.623762
3        3503    7594080   5225000         NaN    주방용품  부산본점     5   2.000000
4        3504    1795790   1411200         NaN     수산품  청량리점     3   2.666667
...       ...        ...       ...         ...     ...   ...   ...        ...
2477     5977   82581500  23976000         NaN      골프  부산본점     8   1.750000
2478     5978     480000    480000         NaN    섬유잡화   광주점     1   1.000000
2479     5979  260003790  25750000         NaN  남성 캐주얼  본  점    19   3.736842
2480     5980   88991520  18120000         NaN      육류  본  점     5   3.600000
2481     5981     623700    209000         NaN    가공식품  영등포점     2   5.000000

        주말방문비율  구매주기
0     0.789474    26
1     0.369863     3
2     0.083277     3
3     0.000000    47
4     0.125000     8
...        ...   ...
2477  0.642857    40
2478  0.000000     0
2479  0.915493    18
2480  0.444444    60
2481  0.000000    31

[2482 rows x 10 columns]>
<bound method NDFrame.describe of       cust_id       총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수  \
0           0   68282840  11264000  6860000.0      기타   강남점    19  3.894737
1           1    2136000   2136000   300000.0     스포츠   잠실점     2  1.500000
2           2    3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000
3           3   16077620   4935000        NaN      기타   광주점    18  2.444444
4           4   29050000  24000000        NaN      보석  본  점     2  1.500000
...       ...        ...       ...        ...     ...   ...   ...       ...
3495     3495    3175200   3042900        NaN      골프  본  점     1  2.000000
3496     3496   29628600   7200000  6049600.0    시티웨어  부산본점     8  1.625000
3497     3497      75000     75000        NaN    주방용품   창원점     1  1.000000
3498     3498    1875000   1000000        NaN     화장품  본  점     2  1.000000
3499     3499  263101550  34632000  5973000.0      기타  본  점    38  2.421053

        주말방문비율  구매주기
0     0.527027    17
1     0.000000     1
2     0.000000     1
3     0.318182    16
4     0.000000    85
...        ...   ...
3495  1.000000     0
3496  0.461538    40
3497  0.000000     0
3498  0.000000    39
3499  0.467391     8

[3500 rows x 10 columns]>

In [4]:
# cust_id 없애기
x_test_id = x_test['cust_id']

x_test.drop(['cust_id'], axis=1, inplace=True)
x_train.drop(['cust_id'], axis=1, inplace=True)
y_train.drop(['cust_id'], axis=1, inplace=True)

In [5]:
# # 결측치
# print(x_train.isnull().sum())
# print(x_test.isnull().sum())

In [6]:
# 결측치 채우기
x_train.fillna(0, inplace=True)
x_test.fillna(0, inplace=True)

In [7]:
print(x_train.isnull().sum())
print(x_test.isnull().sum())

총구매액       0
최대구매액      0
환불금액       0
주구매상품      0
주구매지점      0
내점일수       0
내점당구매건수    0
주말방문비율     0
구매주기       0
dtype: int64
총구매액       0
최대구매액      0
환불금액       0
주구매상품      0
주구매지점      0
내점일수       0
내점당구매건수    0
주말방문비율     0
구매주기       0
dtype: int64

In [8]:
# 원핫인코딩 주구매상품, 주구매지점
item = pd.get_dummies(x_train['주구매상품'], prefix='주구매상품')
store = pd.get_dummies(x_train['주구매지점'], prefix='주구매지점')
x_train = pd.concat([x_train, item, store], axis=1)
x_train.drop(['주구매상품', '주구매지점'], axis=1, inplace=True)

item = pd.get_dummies(x_test['주구매상품'], prefix='주구매상품')
store = pd.get_dummies(x_test['주구매지점'], prefix='주구매지점')
x_test = pd.concat([x_test, item, store], axis=1)
x_test.drop(['주구매상품', '주구매지점'], axis=1, inplace=True)

In [9]:
x_train.columns

Index(['총구매액', '최대구매액', '환불금액', '내점일수', '내점당구매건수', '주말방문비율', '구매주기',
       '주구매상품_가공식품', '주구매상품_가구', '주구매상품_건강식품', '주구매상품_골프', '주구매상품_구두',
       '주구매상품_기타', '주구매상품_남성 캐주얼', '주구매상품_남성 트랜디', '주구매상품_남성정장', '주구매상품_농산물',
       '주구매상품_대형가전', '주구매상품_디자이너', '주구매상품_란제리/내의', '주구매상품_명품', '주구매상품_모피/피혁',
       '주구매상품_보석', '주구매상품_생활잡화', '주구매상품_섬유잡화', '주구매상품_셔츠', '주구매상품_소형가전',
       '주구매상품_수산품', '주구매상품_스포츠', '주구매상품_시티웨어', '주구매상품_식기', '주구매상품_아동',
       '주구매상품_악기', '주구매상품_액세서리', '주구매상품_육류', '주구매상품_일용잡화', '주구매상품_젓갈/반찬',
       '주구매상품_주류', '주구매상품_주방가전', '주구매상품_주방용품', '주구매상품_차/커피', '주구매상품_축산가공',
       '주구매상품_침구/수예', '주구매상품_캐주얼', '주구매상품_커리어', '주구매상품_통신/컴퓨터', '주구매상품_트래디셔널',
       '주구매상품_피혁잡화', '주구매상품_화장품', '주구매지점_강남점', '주구매지점_관악점', '주구매지점_광주점',
       '주구매지점_노원점', '주구매지점_대구점', '주구매지점_대전점', '주구매지점_동래점', '주구매지점_미아점',
       '주구매지점_본  점', '주구매지점_부산본점', '주구매지점_부평점', '주구매지점_분당점', '주구매지점_상인점',
       '주구매지점_센텀시티점', '주구매지점_안양점', '주구매지점_영등포점', '주구매지점_울산점', '주구매지점_인천점',
       '주구매지점_일산점', '주구매지점_잠실점', '주구매지점_전주점', '주구매지점_창원점', '주구매지점_청량리점',
       '주구매지점_포항점'],
      dtype='object')

In [10]:
x_test.columns

Index(['총구매액', '최대구매액', '환불금액', '내점일수', '내점당구매건수', '주말방문비율', '구매주기',
       '주구매상품_가공식품', '주구매상품_가구', '주구매상품_건강식품', '주구매상품_골프', '주구매상품_구두',
       '주구매상품_기타', '주구매상품_남성 캐주얼', '주구매상품_남성 트랜디', '주구매상품_남성정장', '주구매상품_농산물',
       '주구매상품_대형가전', '주구매상품_디자이너', '주구매상품_란제리/내의', '주구매상품_명품', '주구매상품_모피/피혁',
       '주구매상품_보석', '주구매상품_생활잡화', '주구매상품_섬유잡화', '주구매상품_셔츠', '주구매상품_수산품',
       '주구매상품_스포츠', '주구매상품_시티웨어', '주구매상품_식기', '주구매상품_아동', '주구매상품_악기',
       '주구매상품_액세서리', '주구매상품_육류', '주구매상품_일용잡화', '주구매상품_젓갈/반찬', '주구매상품_주류',
       '주구매상품_주방가전', '주구매상품_주방용품', '주구매상품_차/커피', '주구매상품_축산가공', '주구매상품_침구/수예',
       '주구매상품_캐주얼', '주구매상품_커리어', '주구매상품_통신/컴퓨터', '주구매상품_트래디셔널', '주구매상품_피혁잡화',
       '주구매상품_화장품', '주구매지점_강남점', '주구매지점_관악점', '주구매지점_광주점', '주구매지점_노원점',
       '주구매지점_대구점', '주구매지점_대전점', '주구매지점_동래점', '주구매지점_미아점', '주구매지점_본  점',
       '주구매지점_부산본점', '주구매지점_부평점', '주구매지점_분당점', '주구매지점_상인점', '주구매지점_센텀시티점',
       '주구매지점_안양점', '주구매지점_영등포점', '주구매지점_울산점', '주구매지점_인천점', '주구매지점_일산점',
       '주구매지점_잠실점', '주구매지점_전주점', '주구매지점_창원점', '주구매지점_청량리점', '주구매지점_포항점'],
      dtype='object')

In [11]:
# train에만 있는 '주구매상품_소형가전' 삭제
x_train.drop(['주구매상품_소형가전'], axis=1, inplace=True)

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(x_train)
x_train_sc = sc.transform(x_train)
x_test_sc = sc.transform(x_test)

In [13]:
y_train

      gender
0          0
1          0
2          1
3          1
4          0
...      ...
3495       1
3496       1
3497       0
3498       0
3499       0

[3500 rows x 1 columns]

In [14]:
from sklearn.linear_model import LogisticRegression
 
model = LogisticRegression()
model.fit(x_train_sc, y_train)
print('Logistic socre: ',model.score(x_train, y_train))

# Knn
from sklearn.neighbors import KNeighborsClassifier
 
model = KNeighborsClassifier(n_neighbors=4, metric='euclidean')
model.fit(x_train_sc, y_train)
print('KNN socre: ', model.score(x_train, y_train))

# DT
from sklearn.tree import DecisionTreeClassifier
 
model = DecisionTreeClassifier(random_state=1, max_depth=10)
model.fit(x_train, y_train)
print('DTree score: ', model.score(x_train,y_train))

# RF
from sklearn.ensemble import RandomForestClassifier
 
model = RandomForestClassifier(max_depth=10, n_estimators=100)
model.fit(x_train, y_train)
print('RF score: ', model.score(x_train,y_train))

C:\Users\LDCC\anaconda3\envs\ve_prac\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

Logistic socre:  0.6237142857142857

C:\Users\LDCC\anaconda3\envs\ve_prac\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNN socre:  0.624
DTree score:  0.7222857142857143

C:\Users\LDCC\anaconda3\envs\ve_prac\lib\site-packages\ipykernel_launcher.py:25: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RF score:  0.7711428571428571

In [15]:
# XGB
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(x_train, y_train)
print('XGB score:', model.score(x_train,y_train))

C:\Users\LDCC\anaconda3\envs\ve_prac\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

XGB score: 0.7114285714285714

In [16]:
predict = model.predict_proba(x_test)

In [17]:
predict

array([[0.52085984, 0.47914013],
       [0.83352005, 0.16647997],
       [0.85227406, 0.14772592],
       ...,
       [0.43747634, 0.56252366],
       [0.57607776, 0.42392224],
       [0.5071732 , 0.49282685]], dtype=float32)

In [18]:
output = pd.DataFrame({'cust_id':x_test_id, 'gender':predict[:,1]})

In [19]:
output

      cust_id    gender
0        3500  0.479140
1        3501  0.166480
2        3502  0.147726
3        3503  0.439151
4        3504  0.468586
...       ...       ...
2477     5977  0.571561
2478     5978  0.589915
2479     5979  0.562524
2480     5980  0.423922
2481     5981  0.492827

[2482 rows x 2 columns]